
@import url("./pages/Login/Login.css");
@import url("./pages/SignUp//SignUp.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #f8faf3;
  --secondary-color: rgb(155, 17, 155);
  --text-color: rgb(0, 0, 0);
  --shadow: rgba(95, 94, 94, 0.705);
  --accent-color: #2f205e;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.text-bold {
  font-weight: bolder;
}

.wrap {
  flex-wrap: wrap;
}

.gap-xs{
  gap:5px
}
.cursor-pointer {
  cursor: pointer;
}

body {
  background-color: var(--primary-color);

  overflow-x: hidden;
}

.my-text {
  color: var(--text-color);
}
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.text-s {
  font-size: 0.8rem;
}

.text-m {
  font-size: 1.2rem;
}

.text-l {
  font-size: 1.6rem;
}
.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
.dir-col {
  flex-direction: column;
}

.dir-row {
  flex-direction: row;
}

.gap-s {
  gap: 1rem;
}

.gap-m {
  gap: 1.5rem;
}

.gap-l {
  gap: 2.5rem;
}

.gap-xl {
  gap: 3rem;
}
